@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {  
    background-color: rgb(0, 140, 255);
}
h1 {
    text-align: center;
    margin-top: 15px;
    color: white;
}
section {
    background-color: white;
    height: 70vh;
    width: 70vw;
    margin: auto;
    border-radius: 20px;
}
.text {
    margin-top: 20px;
    border-radius: 15px;
    background-color: lightgray;
    box-shadow: 1px solid black;
    height: 20px;
    text-indent: 10px;
}
#dinicio, #dpassos, #dfim {
    margin-left: 10px;
}
#dinicio {
    margin-top: 20px;
}
.botao {
    margin-top: 10px;
    background-color: rgba(5, 5, 255, 0.425);
    margin-left: 10px;
    height: 25px;
    width: 60px;
    border-radius: 15px;
    box-sizing: ;
}
